
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
#submitBt {
    height: 40px;
    width: 60px;
    background-repeat: no-repeat;
    float: right;
    width: 10%;
    background-color: #bdbdbd;
    border: 0;
    color: #fff;
}

#submitBt:focus {
    outline: 0 !important;
}

#submitBt.loading {
    background-image: url('../img/cube.svg');
    background-size: auto 50%;
    background-position: center;
    overflow: hidden;
    text-indent: 150%;
}

#urlInput {
    height: 40px;
    border-radius: 0;
    float: left;
    width: 90%;
}

table {
    margin-top: 20px;
    float: left;
    width: 100%;
}
.progress {
    float: left;
    width: 100%;
}
td,th {
    padding: 5px;
}

#globalAlert {
    z-index: 10001;
    position: absolute;
    font-size: 16px;
    max-width: 515px;
    text-align: center;
    opacity: 1 !important;
    padding: 5px 20px;
    height: auto !important;
    top: 15px !important;
    border-radius: 0 !important;
    line-height: 20px;
    font-weight: 300;
    left: 50%;
}

#globalAlert.alert-success {
    background-color: #fff !important;
    color: rgb(0, 157, 156);
    border:1px solid rgb(0,157,156);
}

#globalAlert.alert-danger {
    background-color: #fff !important;
    color: #a94442 !important;
    border: 1px solid #a94442 !important;
}

.product .name {
    width: 200px;
}